[MASTER]
ignore=
	challenges/views,
[MESSAGES CONTROL]
disable=
	# ignore missing docstring.
	missing-docstring,
    # ignore no members
    no-member,
	# ignore unused arguments
	; unused-argument
	# ignore bare except
	; bare-except

